volumes/node-red/flows.json
[{"id":"9bff0843.525ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89e0d4c3.dd5218","type":"Stackhero-MySQL-Server","name":"","host":"172.20.0.2","port":"3306","tls":false,"database":"collector"},{"id":"f56e9b7b.5a86e","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"73d670743c5e6fd0","type":"ui_tab","name":"Client1","icon":"dashboard","disabled":false,"hidden":false},{"id":"967e5cd0675382db","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d9693ed51bff9fd","type":"ui_group","name":"Default","tab":"73d670743c5e6fd0","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0775a509dd1221cf","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"54637043d605d53b","type":"ui_group","name":"Client1","tab":"73d670743c5e6fd0","order":2,"disp":true,"width":"10","collapse":false,"className":""},{"id":"aa03b7a9.435998","type":"function","z":"9bff0843.525ed8","name":"","func":"var hr = parseInt(msg.payload.uplink_message.decoded_payload.hr);\nvar snr = parseInt(msg.payload.uplink_message.rx_metadata[0].snr);\nvar rssi = parseInt(msg.payload.uplink_message.rx_metadata[0].rssi);\nmsg.payload={\n    \"hr\" : hr,\n    \"SNR\" : snr,\n    \"RSSI\" : rssi\n};\n\nmsg.topic = \"INSERT INTO client1 (hr_in, SNR, RSSI) VALUES (':hr', ':SNR', ':RSSI');\";\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":240,"wires":[["b23e4b36.f9142"]]},{"id":"b23e4b36.f9142","type":"Stackhero-MySQL","z":"9bff0843.525ed8","server":"89e0d4c3.dd5218","name":"","x":840,"y":240,"wires":[[]]},{"id":"44eec57fae0c81a5","type":"mqtt in","z":"9bff0843.525ed8","name":"MQTT IN","topic":"v3/appli-rpa-ah@ttn/devices/rpa-ha/up","qos":"2","datatype":"auto-detect","broker":"f56e9b7b.5a86e","nl":false,"rap":true,"rh":0,"inputs":0,"x":285,"y":240,"wires":[["aa03b7a9.435998"]],"l":false},{"id":"dcc19bc44571f2b4","type":"function","z":"9bff0843.525ed8","name":"","func":"var hr = parseInt(msg.payload.uplink_message.decoded_payload.hr);\nvar snr = parseInt(msg.payload.uplink_message.rx_metadata[0].snr);\nvar rssi = parseInt(msg.payload.uplink_message.rx_metadata[0].rssi);\nmsg.payload={\n    \"hr\" : hr,\n    \"SNR\" : snr,\n    \"RSSI\" : rssi\n};\nmsg.topic = \"INSERT INTO client2 (hr_in, SNR, RSSI) VALUES (':hr', ':SNR', ':RSSI');\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["88d72de9607081f0"]]},{"id":"88d72de9607081f0","type":"Stackhero-MySQL","z":"9bff0843.525ed8","server":"89e0d4c3.dd5218","name":"","x":840,"y":360,"wires":[[]]},{"id":"38f4670670d220ac","type":"mqtt in","z":"9bff0843.525ed8","name":"MQTT IN","topic":"v3/project-bisson-podevin@ttn/devices/bisson-podevin-device/up","qos":"2","datatype":"auto-detect","broker":"f56e9b7b.5a86e","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":360,"wires":[["dcc19bc44571f2b4"]]},{"id":"4075f9c00c050712","type":"debug","z":"9bff0843.525ed8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":180,"wires":[]},{"id":"1391dc30b4ba5861","type":"ui_numeric","z":"9bff0843.525ed8","name":"","label":"Valeure Max","tooltip":"","group":"5d9693ed51bff9fd","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"payload","topicType":"msg","format":"{{value}}","min":"0","max":"220","step":"","className":"","x":350,"y":60,"wires":[["e3d0d3b0c296fb2c"]]},{"id":"1e31b4bf7db444b6","type":"ui_numeric","z":"9bff0843.525ed8","name":"","label":"Valeure Min","tooltip":"","group":"5d9693ed51bff9fd","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"payload","topicType":"msg","format":"{{value}}","min":"0","max":"220","step":"","className":"","x":350,"y":120,"wires":[["0e150cd9d88069e0"]]},{"id":"e3d0d3b0c296fb2c","type":"function","z":"9bff0843.525ed8","name":"function 1","func":"var limiteMax = msg.payload;\n\nmsg.payload = {\n    \"limiteMax\" : limiteMax\n}\nmsg.topic = \"UPDATE limiteMax SET limiteMax=':limiteMax' where id=1;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":60,"wires":[["23837f72f5586457","4075f9c00c050712"]]},{"id":"23837f72f5586457","type":"Stackhero-MySQL","z":"9bff0843.525ed8","server":"89e0d4c3.dd5218","name":"","x":820,"y":60,"wires":[[]]},{"id":"0e150cd9d88069e0","type":"function","z":"9bff0843.525ed8","name":"function 2","func":"var limiteMin = parseInt(msg.payload.number);\nmsg.topic = \"UPDATE limiteMin SET limiteMin=':limiteMin' where id=1;\";\nmsg.payload = {\n    \"limiteMin\" : limiteMin\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":120,"wires":[["305ac56eb879703c"]]},{"id":"305ac56eb879703c","type":"Stackhero-MySQL","z":"9bff0843.525ed8","server":"89e0d4c3.dd5218","name":"","x":820,"y":120,"wires":[[]]},{"id":"f885dbdc52626980","type":"ui_slider","z":"9bff0843.525ed8","name":"","label":"slider","tooltip":"","group":"5d9693ed51bff9fd","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"220","step":1,"className":"","x":90,"y":60,"wires":[["1391dc30b4ba5861"]]},{"id":"4a46df7d2d4c0155","type":"ui_slider","z":"9bff0843.525ed8","name":"","label":"slider","tooltip":"","group":"5d9693ed51bff9fd","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"220","step":1,"className":"","x":90,"y":120,"wires":[["1e31b4bf7db444b6"]]}]